*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
} 

.container{
  width: 90%;
  max-width: 1180px; 
  margin: 0 auto;
}

/* HEADER */

header{
  z-index: 999;
}

nav{
  position: fixed;
  height: 70px;
  width: 100%;
}

.main-nav{
  padding: 20px;
  background-color: white;
}
.main-nav, .main-nav ul, .main-nav ul li{
  display: inline-block;
  overflow: hidden;
}

.nav-left{
  float: left;
}

.nav-right{
  float: right;
}

ul li{
  list-style: none;
}
ul li a{
  text-decoration: none;
  padding: 20px;
}

/* JUMBO */

.jumbotron{
  float: inherit;
  background-color: red;
}
.jumbotron .container-jumbo{
  
}

.jumbotron .container-jumbo .jumbo-top {
 
  text-align: left;
  margin: 48px ​260px ;
  
}

.jumbo-top h1{
  float: inline-start;
  margin-top: 100px;
  padding-inline-end: ;
  font-size: 70px;
 
}

.jumbotron .container-jumbo .jumbo-image{
  float: inline-end;
  width: 870px;
  height: auto;
}






/****** MAIN ******/

/* ABBONAMENTI */

/* FIND A PARTNER */

/* OPERATION BUSINESS */

/* OUR CLIENT */

/* FREE TRIAL */

/* FAQ */

/****** /MAIN ******/

/* FOOTER */